<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Highlights Input Form</title>
    <link href="{{ url_for('static', filename='styles/style2.css') }}" rel="stylesheet" />
</head>
<body>
    <form action="/data" method = "POST">
        <p>Player <input type = "text" name = "Player Name" /></p>
        
        <p>   </p>
        <label for="team">Team</label>
        <select name="Team" id="team">
            <option value="Cardinals">Select a Team</option>
            <option value="Diamondbacks">Arizona Diamondbacks</option>
            <option value="Braves">Atlanta Braves</option>
            <option value="Orioles">Baltimore Orioles</option>
            <option value="Red Sox">Boston Red Sox</option>
            <option value="White Sox">Chicago White Sox</option>
            <option value="Cubs">Chicago Cubs</option>
            <option value="Reds">Cincinnati Reds</option>
            <option value="Cleveland">Cleveland Guardians</option>
            <option value="Rockies">Colorado Rockies</option>
            <option value="Tigers">Detroit Tigers</option>
            <option value="Astros">Houston Astros</option>
            <option value="Royals">Kansas City Royals</option>
            <option value="Angels">Los Angeles Angels</option>
            <option value="Dodgers">Los Angeles Dodgers</option>
            <option value="Marlins">Miami Marlins</option>
            <option value="Brewers">Milwaukee Brewers</option>
            <option value="Twins">Minnesota Twins</option>
            <option value="Yankees">New York Yankees</option>
            <option value="Mets">New York Mets</option>
            <option value="Athletics">Oakland Athletics</option>
            <option value="Phillies">Philadelphia Phillies</option>
            <option value="Pirates">Pittsburgh Pirates</option>
            <option value="Padres">San Diego Padres</option>
            <option value="Giants">San Francisco Giants</option>
            <option value="Mariners">Seattle Mariners</option>
            <option value="Cardinals">St. Louis Cardinals</option>
            <option value="Rays">Tampa Bay Rays</option>
            <option value="Rangers">Texas Rangers</option>
            <option value="Blue Jays">Toronto Blue Jays</option>
            <option value="Nationals">Washington Nationals</option>
        </select>
        <p>Date <input type = "date" name = "Date" /></p>
        <p><input type = "submit" value = "Submit" /></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p>Hint: You can leave the player field blank to get all highlights from the team on that day.</p>
    
    </form>
</body>
</html>