<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MLB Highlights</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>
<body>
    <h1> MLB Highlights</h1>
    <a href="form">CLICK HERE TO GET HIGHLIGHTS</a>
    <p> Enter a player's name, the team he played for, and a date. </p>
    <p> The page will show you any highlight videos featuring the player from games on that date.</p>
    <p> You can enter any part of the player's name. </p>
    <p> For example: Cincinnati Reds, July 8, 2023, "Elly De La Cruz" or even just "uz" will return Elly stealing all the bases</p>
    <p> If you just type "el" you will get Elly, but also Christian Yelich hitting a double against the Reds on that day.</p>
    <p> If it shows your search paramaters but no highlights, there were no highlights for the player that day</p>



</body>
</html>